---
import HTMLIcon from '../components/icons/HTMLIcon.astro';	
import JSIcon from '../components/icons/JSIcon.astro';
import Github from './icons/Github.astro';
import LinkButton from './LinkButton.astro';
import ShadCnICON from './icons/ShadCnICON.astro';
import NextJSIcon from './icons/NextJSIcon.astro';
import SupabaseIcon from './icons/SupabaseIcon.astro';
import PreviewIcon from './icons/PreviewIcon.astro';
const TAGS = {
    HTML: {
        name: 'HTML',
        class: 'bg-black text-white',
        icon: HTMLIcon,
    },
    JS: {
        name: 'JavaScript',
        class: 'bg-black text-white',
        icon: JSIcon,
        },
    SHADCN: {
    name: 'ShadCn/UI',
        class: 'bg-black text-white',
        icon: ShadCnICON,
        },
    NEXTJS: {
        name: 'Next JS',
        class: 'bg-black text-white',
        icon: NextJSIcon,
        },
    SUPABASE: {
        name: 'Supabase',
        class: 'bg-black text-esmerald-800',
        icon: SupabaseIcon,
    }
};
const PROJECTS = [
    {
      title: 'AuraBill',
      description: `Aplicacion web para la administracion y gestion de facturacion con inplementacion de AI para la digitalizacion y generacion de facturas`,
      image: '/projects/monkeyType.png',
      tags: [TAGS.SHADCN, TAGS.NEXTJS,TAGS.SUPABASE],
    },
    {
      title: 'Clon de MonkeyType',
      description: `Clon de la conocida plataforma Monkeytype para mejorar la rapidez y fluidez al escribir`,
      link: 'https://zuritakelvin.github.io/TypeFaster/',
      github: 'https://github.com/ZuritaKelvin/TypeFaster',
      image: '/projects/monkeyType.png',
      tags: [TAGS.HTML, TAGS.JS],
    },
]
---
{
  PROJECTS.map((project) => (
   <article class="my-1">
   <h3 class="text-2xl font-semibold text-blue-200 mb-2">{project.title}</h3>
   <p class="text-lg mb-4 text-pretty text-white">{project.description}</p>
   {project.link && project.github && project.image ? (   <ul class="flex gap-x-4 flex-row">
    {
      project.tags.map((tag) => (
        <li><span class={`flex gap-x-2 rounded-full text-xs py-2 px-3 items-center ${tag.class}`}>
            <tag.icon /> {tag.name}</span></li>
      ))
    }
   </ul>
   <img src={project.image} alt={project.title} class="rounded shadow-2xl shadow-sky-400/10 my-2">
   <footer class="flex gap-x-2 flex-row">
    <LinkButton href={project.link} target="_blank">
    <PreviewIcon />
    Go Live
    </LinkButton>
    <LinkButton href={project.github} target="_blank">
    <Github />
    Github
    </LinkButton>
   </footer>
   ) : (<span class="py-2 font-bold text-gray-500">In Progress...</span>)}
   </article>
  ))
}
